        <footer>
            <h3> Licence Projet Web et Mobile 2021/2022 </h3>
            <p> Groupe : Maria Guy de Fontgalland - Marion Dieudonné </p>
        </footer>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="./src/js/tableau.js">
        </script>