{% extends 'default.twig' %}
{% block main %}
<section id="{{page}}-section">
    <img id ="unauthorized_padlockImg" src="src/img/lock.png"/ alt="">
    <p>Vous n'êtes pas autorisé à accéder à cette page. Veuillez vous connecter ou créer un compte ! </p>
</section>
{% endblock %}